html{
    scroll-behavior: smooth;
}

#welcome-section{
    background-color:#0F4C81;
    width: 100%;
    height: 100vh;
    margin-top: 3.5%;
}
 #welcome-section h1{
    color: white;
   text-align: center;
   padding-top: 15%;
}
#welcome-section h2{
    color: #fe5e24;
    text-align: center;
    font-style: italic;
}
#nav-bar{
    position: fixed;
    background-color:#fe5e24 !important;
}
#projects{
    background-color: #c46f19;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 10%;
    width: 100%;
}
#projects h1{
    color: #0F4C81;
}
.card-deck{
    margin: 5% !important;

}
.card{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 50%;
}
footer{
    background-color: #fe5e24;
    color: white;
}
footer img{
    width: 15%;
}
.linked{
    width: 10%;
}